aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
AnyQt
anywidget
appdirs
arrow
astor
asttokens
attrs
backoff
baycomp
beautifulsoup4
bertopic
blinker
blis
bokeh
Bottleneck
cachetools
catalogue
catboost
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
comm
commonmark
confection
contourpy
cryptography
cycler
cymem
dask~=2024.11.1
dask-expr
dateutils
db-dtypes
debugpy
decorator
dictdiffer
distributed
distro
docutils
duckdb
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
gcsfs
gitdb
GitPython
google
google-api-core
google-auth
google-auth-oauthlib
google-cloud
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphviz
greenlet
grpcio
grpcio-status
gw_dsl_parser
h11
hdbscan
httpcore
httpx
huggingface-hub
idna
importlib_resources
ipykernel
ipylab
ipython
ipywidgets
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kanaries_track
keyring
keyrings.alt
kiwisolver
langcodes
language_data
llvmlite
locket
lz4
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
monotonic
more-itertools
mpmath
msgpack
multidict
murmurhash
mysql-connector
mysql-connector-python
narwhals
nbformat
nest-asyncio
networkx
nltk
numba
numpy
oauthlib
openai
openpyxl
openTSNE
orange-canvas-core
orange-widget-base
Orange3
packaging
pandas
parso
partd
pexpect
pillow
platformdirs
plotly
polars
preshed
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg
psycopg2-binary
psygnal
ptyprocess
pure_eval
py4j
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pygwalker
PyMySQL
pynndescent
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtgraph
PyQtWebEngine
PyQtWebEngine-Qt5
pyspark
python-dateutil
python-louvain
pytz
PyYAML
pyzmq
qasync
qtconsole
QtPy
quickjs
referencing
regex
requests
requests-cache
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
SecretStorage
segment-analytics-python
sentence-transformers
serverfiles
setuptools
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
spark-nlp
sql
SQLAlchemy
sqlglot
srsly
stack-data
streamlit
sympy
tblib
tenacity
thinc
threadpoolctl
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
triton
typer
types-python-dateutil
typing_extensions
tzdata
umap-learn
url-normalize
urllib3
wasabi
wasmtime
watchdog
wcwidth
weasel
wheel
widgetsnbextension
wordcloud
wrapt
xgboost
xlrd
XlsxWriter
xyzservices
yarl
zict
