numpy
setuptools
wheel
pandas
matplotlib
seaborn
wordcloud
pandas-profiling
joblib
visions[type_image_path]
altair
blinker
cachetools
gitdb
gitpython
narwhals
protobuf
pydeck
smmap
streamlit
tenacity
toml
google-cloud-storage
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
bertopic
nltk
google-cloud-bigquery
db-dtypes
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
